@use './styles/global/base';
@use './styles/global/tone';

.flow {
  --flow-space: 1em;
}
.flow > * + * {
  margin-top: var(--flow-space);
}

.grid-wrapper {
    --gutter: var(--space-s-2xl);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: tone.$color-bg;
  padding: 1rem 0;
  color: tone.$gray-800;
  z-index: 1000;

  &__inner {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__logo,
.header__logo:visited {
  color: inherit;
  text-decoration: none;
}
.header__logo:hover,
.header__logo:active {
  color: inherit;
  text-decoration: none;
}
.header__logo h5 {
  margin: 0;
}

.hero {
  background-image: url("./assets/hero-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 80vh;
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 3.75rem 1.25rem;
  overflow: hidden;

  position: relative;

  color: tone.$gray-0;
  }
.hero__inner {
  max-width: 640px;
  padding: 0 1.5rem;
  color: tone.$gray-0;
}
.hero__inner h1 {
  line-height: 1.3;
  margin-bottom: 0.3em;
}
.hero__inner p {
  opacity: 0.85;
  
  br {
    display: inline;
  }
}

.scroll-arrow {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);

  font-size: 1.5rem;
  color: tone.$gray-0;
}

.question {
  background: tone.$gray-900;
  color: tone.$gray-0;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1.5rem;
}

.moment {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.moment__media {
  flex: 0 0 auto;
  margin-right: auto;

  img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    display: block;
  }
}
.moment__text {
  flex: 1 1 auto;
  min-width: 0;
}
.moment--reverse {
  flex-direction: row-reverse;

  .moment__media {
    margin-right: 0;
    margin-left: auto;
  }
  .moment__text {
    text-align: right;
  }
}


.video-section {
  background-color: tone.$point-100;
  padding: 3rem 1.5rem;

  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  display: flex;
  justify-content: center;
  align-items: center;
}
.video-wrapper {
  width: 100%;
  max-width: 45rem;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 1rem;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
  }
}

.wrap {
  --about-max-width: 75rem;
  --gutter: clamp(1rem, 4vw, 3rem);

  max-width: var(--about-max-width);
  margin-inline: auto;
  padding-inline: var(--gutter, 0);
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0rem;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
  align-items: start;

  @media (max-width: 37.5rem) {
    grid-template-columns: 1fr;
  }
}

.card {
  display: grid;
  gap: 1rem;
  border: 1px solid tone.$gray-100;
  border-radius: 1rem;
  padding: 1rem;

  background-color: tone.$point-100;

  p {
    margin-bottom: 1.5rem;
  }
}


.process {
  padding-block: clamp(3rem, 6vw, 6rem);
}

.process__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: clamp(1rem, 2vw, 3rem);

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.process__item {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  }
.process__name {
  font-size: 1.5rem;
  font-weight: 600;
}
.process__desc {
  line-height: 1.6;
  opacity: 0.8;
}


.card__image {
  position: relative;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 0.75rem;
  margin-bottom: 0.3em;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;

  padding: 0.6em 1.2em;
  border-radius: 10rem;

  background: tone.$point-300;
  white-space: nowrap;

  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.box {
  > * {
    border: .0625rem solid;
  }
}

.section--spacer1 {
  padding-block: 3rem;
}
.section--spacer2 {
  padding-block: 1rem;
}
.section--spacer3 {
  padding-block: 0.5rem;
}



html {
  scroll-behavior: smooth;
}

.doc-section {
  scroll-margin-top: 5.625rem;
}
.doc {
  max-width: 75rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: minmax(0, 1fr) 15rem;
  column-gap: 1rem;
  align-items: start;
}

.sticky {
  background-color: tone.$color-bg;
    
  position: sticky;
  top: 6rem;
  height: fit-content;
  border-left: 1px solid #d9d9d9;
  padding-left: 1.875rem;

  ul,
  ol,
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;

    &::marker {
      content: "";
    }
    &::before {
      content: none !important;
      display: none !important;
    }
  }
}

.prose {
  --flow-space: var(--space-s);
  > * + * {
    margin-top: 0;
  }
  > :is(h1, h2, h3, h4, h5, h6) + * {
    margin-top: var(--space-xs);
  }
  > p + p {
    margin-top: var(--space-2xs);
  }
  > :is(p) + :is(ul, ol, blockquote, figure) {
    margin-top: var(--space-xs);
  }
}

.intro-image {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  display: flex;
  justify-content: center;
  margin-bottom: var(--space-xl);
}
.intro-image img {
  width: 100%;
  max-width: 75rem;
  height: auto;
  display: block;
}


@media (max-width: 600px){
  .hero__inner p {
    br {
      display: none;
    }
  }

  .moment__media {
    img {
      display: none;
    }
  }

  .moment--reverse {
    .moment__media,
    .moment__text {
      order: initial;
    }
    .moment__text {
      justify-self: initial;
    }
  }

  .sticky{ display:none; }
  .doc{ grid-template-columns: 1fr; column-gap: 0; }
}