*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin-block: 0;
  // Remove default margin
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-block-size: 100vh;
  margin: 0;
  // body의 마진 제거
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
select,
label {
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: keep-all;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a:not([class]) {
  color: currentcolor;
  text-decoration-skip-ink: auto;
}

audio,
canvas,
embed,
img,
object,
picture,
svg,
video {
  display: block;
  // 미디어 요소의 인라인 스타일 제거 (하단의 잉여 공간 제거)
  max-width: 100%;
  // 미디어 요소가 컨테이너를 넘지 않도록 설정
}
// 미디어 요소의 기본 스타일 초기화

button,
input,
option,
select,
textarea {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}