
$point-100: #ECF4F1;
$point-200: #CFE3DB;
$point-300: #96BAB2;
$point-400: #508E82;
$point-500: #316259;
$point-800: #0f5146;

$gray-0:  #FFFFFF;
$gray-100: #F1F2F2;
$gray-800: #273031;
$gray-900:#121212;

$color-bg: $gray-0;
$color-text: $gray-900;