
$point-100: #ECF4F1;
$point-200: #CFE3DB;
$point-500: #7DAA98;
$point-800: #146C5E;

$gray-0:  #FFFFFF;
$gray-100: #F1F2F2;
$gray-800: #273031;
$gray-900:#121212;

$color-bg: $gray-0;
$color-text: $gray-900;


$tones: (
  "point": (
    100: $point-100,
    200: $point-200,
    500: $point-500,
    800: $point-800
  ),
  "gray": (
    0: $gray-0,
    900: $gray-900
  )
);