@use './config' as config;
@use '../../node_modules/utopia-core-scss/src/utopia' as utopia;
  

:root {
  @include utopia.generateTypeScale(
    (
    "minWidth": 600,
    "maxWidth": 1280,
    "minFontSize": 16,
    "maxFontSize": 20,
    "minTypeScale": 1.2,
    "maxTypeScale": 1.25,
    "positiveSteps": 5,
    "negativeSteps": 2,
    "prefix": "step-",
    "relativeTo": "viewport-width"
  )
);

  --leading-2xs: 1;
  --leading-xs: 1.2;
  --leading-s: 1.4;
  --leading-m: 1.6;
  --leading-l: 1.8;
  --font-regular: 300;
  --font-medium: 400;
  --font-bold: 600;
  --font-black: 900;
}